<div>
    <h1>Create New Event</h1>
    <form>
        <div>
            <label for="">Name</label>
            <input type="text">
        </div>
        <div>
            <label for="">Price</label>
            <input type="number">
        </div>
        <div>
            <label for="">Artist</label>
            <input type="text">
        </div>
        <div>
            <label for="">Date - Time</label>
            <input type="datetime-local">
        </div>
        <div>
            <label for="">Description</label>
            <textarea name="" id="" cols="30" rows="5" style="resize: none;"></textarea>
        </div>
        <div>
            <label for="">Image URL</label>
            <input type="text">
        </div>
        <div>
            <label for="">Category</label>
            <select name="" id=""></select>
        </div>
        <div id="form-actions">
            <button class="add-btn">Create</button>
            <a routerLink="../">Back</a>
        </div>
    </form>
</div>