<div class="side-nav">
    <nav>
        <ul>
            <li><a routerLink=""><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a></li>
            <li><a routerLink="events"><i class="fa fa-calendar" aria-hidden="true"></i><span>Events</span></a></li>
            <li><a routerLink=""><i class="fa fa-list-ul" aria-hidden="true"></i><span>Categories</span></a></li>
            <li><a routerLink=""><i class="fa fa-plus" aria-hidden="true"></i><span>Add Category</span></a></li>
            <li><a routerLink=""><i class="fa fa-money" aria-hidden="true"></i><span>Add Sales</span></a></li>
        </ul>
    </nav>
</div>